.contenedorHeader {
  display: flex;
  flex-direction: row;
  
}
@media (min-width: 768px) {
    .contenedorHeader {
        justify-content: flex-start;
    }
}

@media (max-width: 760px){
   .contenedorHeader {
    flex-direction: column;
    align-content: stretch;
   }
}