.header {
    /* background-color: rgb(255, 221, 67); */
    background-image: linear-gradient(to right, rgba(255, 221, 67, 0.8), rgba(255, 221, 67, 0.7)), url(../public/img/pelotas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    display: flex;
    border-radius: 4px;

}

.navegacion {
    display: flex;
    gap: 2.5rem;
    
}

.logoHeader {
    margin-top: 6px;
    position: relative;
    display: block;
}

.navHeader {
    margin-top: 10px;
    margin-left: 10px;
    align-self: flex-end;
    padding-bottom: 10px;
    padding-left: 70px;
    
}

.enlace {
    color: rgb(21, 22, 22);
    text-decoration: none;
    font-size: 1.6rem;
    transition-duration: 600ms;
 }
 .enlace:hover , .active{
    background-color: #8b2828;
    color: aliceblue;
    padding: 0.2rem;
    border-radius: 10px;
 }


 .rrss {
    display: flex;
    font-size: 1.8rem;
    gap: 1rem;
    color: rgb(21, 22, 22);
 }


 /* Pantalla moviles */

@media (max-width: 760px){
    .navegacion {
        gap: 1rem;
    }
    .navHeader {
        align-self: stretch;
        padding-left: 0px;
        margin-left: 0px;
        justify-content: space-between;
    }
    .logoHeader {
        align-self: center;
    }
    .header {
        padding: 10px;
    }
    .rrss {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 2rem;
        gap: 0.5rem;
        margin-left: 5px;
        color: rgb(21, 22, 22);
     }
 }

 