.contenido {
    display: grid;
    gap: 4rem;
    font-size: 1.6rem;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;

}


.slider {
    width: 100%;
}


.imagenSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.imagenSlider img {
   width: 100%;
    
}

  


/* Pantallas grandes */
@media (min-width: 768px) {
    .contenido {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
   
}