.contenido {
    display: grid;
    gap: 4rem;
    font-size: 1.6rem;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 8px;

}


.slider {
    width: 100%;
}


.imagenSlider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}

.imagenSlider img {
   width: 100%;
    
}

.containerWave {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
    padding-bottom: 0px;
    border-radius: 8px;
  }

  .wave {
    stroke: none; 
    fill:rgb(255, 221, 67);
    height: 100px;
    width: 100px;
  }

  .imagenContacto {
    border-radius: 8px;
    
  }

/* Pantallas grandes */
@media (min-width: 768px) {
    .contenido {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
   
}